= content_for :title do
  - if @base
    = @base.title
    \::
  Editing javascript

= form_for @javascript, :html => { :class => "editor" } do |f|
  = f.text_area :content, :"data-mode" => "javascript"
  = f.text_field :title, :class => "title"
  = f.submit "Save"
