!!!
%head
  %title 
    = yield :title
  = yield :head
  = stylesheet_link_tag "bop"
  = stylesheet_link_tag "editor"
  = csrf_meta_tags
  
%body
  = javascript_include_tag "bop"
  = yield
  = render :partial => 'bop/tools'