!!!
%head
  = yield :head
  - if user_signed_in?
    = stylesheet_link_tag "bop"
  = javascript_include_tag "published"

%body
  - if user_signed_in?
    = render :partial => 'bop/tools'
  = yield :body
