!!!
%head
  // user-supplied head content
  // and standard bop stylesheets 
  = bop_head
  = csrf_meta_tags
  %meta{:charset => "utf-8"}
  
%body
  %h1
    = field :title

  = space :main

  = bop_foot
