- if current_user
  #flashes
    %p.notice= notice
    %p.alert= alert

  #bop_status
    - if @publication
      = link_to t(:edit_page), page_url(@publication.page)

    - elsif @page
      - if @page.published?
        = link_to t(:published_page), @page.route
      - else
        = t(:never_published)

      = button_to t(:publish_now), page_publications_url(@page)
          
  

  #bop_tools
    %section.pagetree
      = render :partial => 'bop/pages/pagetree'
    %section.templates
      = render :partial => 'bop/templates/index'
    %section.stylesheets
      = render :partial => 'bop/stylesheets/index'
    %section.javascripts
      = render :partial => 'bop/javascripts/index'

    %section.admin
      %p.tabs
        = link_to t(:pages), '#', :"data-tab" => "section.pagetree"
        \|
        = link_to t(:templates), '#', :"data-tab" => "section.templates"
        \|
        = link_to t(:stylesheets), '#', :"data-tab" => "section.stylesheets"
        \|
        = link_to t(:javascripts), '#', :"data-tab" => "section.javascripts"
      
    %a.boptag{:href => "#"}
      = t(:bop)
