#bop
  .pagetree
    = render :partial => 'bop/pages/pagetree'
    
  .admin
    %p
      = link_to "pages", '#'
      \|
      = link_to "templates", '#'
      \|
      = link_to "blocks", '#'
      \|
      = link_to "assets", '#'
      \|
      = link_to "users", '#'
      
  %a.boptag{:href => "#"}
    BOP
