- if current_user
  #bop_status
    - if @publication
      = link_to t(:edit_page), page_url(@publication.page)

    - elsif @page
      - if @page.published?
        = link_to t(:published_page), @page.route
      - else
        = t(:never_published)

      = button_to t(:publish_now), publish_page_url(@page)
          
  

  #bop_tools
    .pagetree
      = render :partial => 'bop/pages/pagetree'
    .admin
      %p.tabs
        = link_to t(:pages), '#', :"data-tab" => pages_url
        \|
        = link_to t(:templates), '#', :"data-tab" => templates_url
        \|
        = link_to t(:stylesheets), '#', :"data-tab" => stylesheets_url
        \|
        = link_to t(:javascripts), '#', :"data-tab" => javascripts_url
      
    %a.boptag{:href => "#"}
      = t(:bop)
