!!!
%html
  %head
    %title 
      = yield :title
    = stylesheet_link_tag "bop/application"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
    
  %body
    = yield
    = render :partial => 'bop/tools'
