= content_for :bop_js do
  = javascript_include_tag "bop/page"

= content_for :bop_css do
  = stylesheet_link_tag "bop/page"

= content_for :head do
  = @page.head.html_safe

= content_for :body do
  #bop{:'data-bop-page' => @page.id}
    = @page.body.html_safe
