= content_for :title do
  Editing stylesheet

= form_for @stylesheet, :html => { :class => "editor" } do |f|
  = f.text_area :content, :"data-mode" => "css"
  = f.text_field :title, :class => "title"
  = f.submit, "Save"
  