%article.block{:'data-bop-block' => @block.id}
  = form_for [@page, @block], :remote => true, :html => {:'data-type' => 'html'} do |f|
    .wysihtml
      .toolbar
        %header
          %ul.commands
            %li.command{:"data-wysihtml5-command" => "bold"}
            %li.command{:"data-wysihtml5-command" => "italic"}
            %li.command{:"data-wysihtml5-command" => "insertUnorderedList"}
            %li.command{:"data-wysihtml5-command" => "insertOrderedList"}
            %li.command{:"data-wysihtml5-command" => "createLink"}
            %li.command{:"data-wysihtml5-command" => "insertImage"}
            %li.command{:"data-wysihtml5-command" => "formatBlock", :"data-wysihtml5-command-value" => "h1"}
            %li.command{:"data-wysihtml5-command" => "formatBlock", :"data-wysihtml5-command-value" => "h2"}
            %li.command{:"data-wysihtml5-action" => "change_view"}

        %div{:"data-wysihtml5-dialog" => "createLink", :style => "display: none"}
          %label
            Link:
            %input{:type => "text", :"data-wysihtml5-dialog-field" => "href", :value => "http://"}
            %a{:"data-wysihtml5-dialog-action" => "save"} OK
            %a{:"data-wysihtml5-dialog-action" => "cancel"} cancel

      = hidden_field_tag :space, @space
      .body_field
        = f.text_area :content, :placeholder => t(:block_placeholder), :class => "textarea", :id => "block_content_#{@block.id}"
    .asset_fields
      - asset = @block.asset || @block.build_asset
      = f.fields_for :asset, asset do |af|
        = af.label :title
        = af.text_field :title, :disabled => true
        = af.label :file
        = af.file_field :file, :disabled => true
        = af.hidden_field :user_id, :value => current_user.id, :disabled => true
    .buttons
      = f.submit "Save"
      = t :or
      %a.cancel{:href => "#"}
        = t :cancel
