= form_for t, :remote => true do |f|
  .editor
    .head.edit_region
      = f.label :head
      = f.text_area :head, :"data-mode" => "htmlmixed"
    .body.edit_region
      = f.label :body
      = f.text_area :body, :"data-mode" => "htmlmixed"
  = f.submit :class => "editor_submit"
  .publish
    = label_tag :publish, "Publish pages?"
    = check_box_tag :publish, params[:publish]